@model StLouisTravel.ViewModels.Locations.CreateLocationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Travel St. Louis</h1>

<h4>Add Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <select asp-for="Region" class="form-control">
                    <option>Downtown</option>
                    <option>Midtown</option>
                    <option>Dogtown</option>
                    <option>Central West End</option>
                    <option>South City</option>
                    <option>North City</option>
                    <option>The Grove</option>
                    <option>The Hill</option>
                    <option>Soulard</option>
                    <option>University City</option>
                    <option>Metro East</option>
                    <option>West County</option>
                    <option>South County</option>
                    <option>North County</option>

                </select>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIds" class="control-label"></label>
                @foreach (var category in Model.Categories)
                {
                   <div>
                       <table class="table">
                           <thead>
                               <tr>
                                <th>
                    <label>@category.Name</label>
                                    </th>
                                   </tr>
                               </thead>
                           <tbody>
                            <td>
                    <input type="checkbox" name="CategoryIds" value="@category.Id" />
                                </td>
                           </tbody>
                           </table>
                    </div>
                }
            </div>
           
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
